<div ui-column ui-full>
	<div ui-hc-align ui-vc-align>
		<div ui-inline-block class="imigo-alert-dialog {{alertDialog.type}}">
			<div ui-row ui-full>
				<div ui-full ui-hl-align>
					<div ui-column ui-full>
						<div ui-full ui-vc-align class="imigo-alert-dialog-label">
							{{alertDialog.text | translate}}
						</div>
					</div>
				</div>
				<div ui-full-w ui-hc-align>
					<div ui-inline-block
					     class="imigo-alert-dialog-button"
					     ng-repeat="button in alertDialogButtons"
					     ng-click="button.doAction()">{{button.text | translate}}</div>
				</div>
			</div>
		</div>
	</div>
</div>