.multiselect-container,
.multiselect-control-bar {
  height: 100%;
}

.multiselect-control-bar {
  padding: 0;

  .container-align {
    height: 100%;
    width: 100%;
    display: table;

    .vertical-align-middle {
      display: table-cell;
      vertical-align: middle;

      & > div {
        display:block;
      }
    }
  }
}
